
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.analysis-page-qGd {
  background-color: #f9f9f9;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .world-1-9HK {
    width: 145.1rem;
    height: 12.7rem;
    position: relative;
    left: 0;
    top: 0;
    background-size: 142.33% 806.299%;
    background-position: -30.7105rem 0;
    background-image: url('REPLACE_IMAGE:27b454e69677e2d283c9494f3c311a0080cd0c87');
  }
  .rectangle-1-SnD {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(1rem);
  }
  .rectangle-12-nLH {
    height: 90.1rem;
    position: absolute;
    left: 0;
    top: 12.7rem;
    background-color: rgba(234, 231, 231, 0.9499999881);
    width: 144rem;
  }
  .signup-iDw {
    height: 3.8rem;
    cursor: pointer;
    position: absolute;
    left: 125.3rem;
    top: 5rem;
    border-radius: 1.5rem;
    width: 11.5rem;

    .rectangle-3-42u {
      width: 11.5rem;
      height: 3.5rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #b656d8;
      border-radius: 1.5rem;
    }
    .signout-Ceu {
      height: 2.7rem;
      left: 1.5rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.3175;
      font-family: Roboto Mono, 'Source Sans Pro';
      width: 8.5rem;
      position: absolute;
      top: 0.3rem;
      font-size: 2rem;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .signup-uZK {
    top: 5.1rem;
    border-radius: 1.5rem;
    width: 12.8rem;
    height: 4.1rem;
    cursor: pointer;
    position: absolute;
    left: 66.6rem;

    .rectangle-3-SJM {
      top: 0;
      background-color: #b656d8;
      border-radius: 1.5rem;
      width: 12.8rem;
      height: 3.5rem;
      position: absolute;
      left: 0;
    }
    .analysis-n7K {
      color: #fefefe;
      position: absolute;
      top: 0.6rem;
      text-transform: uppercase;
      height: 2.5rem;
      font-weight: 700;
      font-family: Montserrat, 'Source Sans Pro';
      line-height: 1.2175;
      white-space: nowrap;
      width: 10.8rem;
      text-align: center;
      font-size: 2rem;
      left: 1rem;
      letter-spacing: 0.06rem;
    }
  }
  .profile-rss {
    text-align: center;
    font-size: 2rem;
    top: 5.8rem;
    color: #3c3939;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.2175;
    letter-spacing: 0.06rem;
    font-family: Montserrat, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    left: 53rem;
    text-transform: uppercase;
    width: 9.5rem;
  }
  .signup-ZnH {
    padding: 0.1rem 0.85rem;
    font-weight: 700;
    color: #3c3939;
    cursor: pointer;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Montserrat, 'Source Sans Pro';
    height: 3.6rem;
    position: absolute;
    left: 82rem;
    white-space: nowrap;
    box-sizing: border-box;
    width: 11.5rem;
    top: 5.4rem;
    text-align: center;
    line-height: 1.2175;
    letter-spacing: 0.06rem;
  }
  .sentiment-analysis-py7 {
    top: 4.9rem;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    left: 5.3rem;
    line-height: 1.2175;
    letter-spacing: 0.15rem;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    width: 28rem;
    height: 3.1rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .rectangle-13-KQ5 {
    height: 26rem;
    position: absolute;
    left: 17.4rem;
    top: 20.7rem;
    backdrop-filter: blur(10rem);
    background-color: #fafafa;
    border-radius: 2.6rem;
    width: 109.3rem;
  }
  .analysis-your-post-q7X {
    left: 22.55rem;
    text-transform: uppercase;
    height: 3.7rem;
    position: absolute;
    line-height: 1.2175;
    letter-spacing: 0.09rem;
    top: 23.5rem;
    text-align: center;
    font-weight: 700;
    width: 36.3rem;
    font-size: 3rem;
    color: #454343;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
  }
  .paste-url--8cR {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.06rem;
    white-space: nowrap;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 29.8rem;
    font-family: Roboto, 'Source Sans Pro';
    width: 11.5rem;
    height: 2.4rem;
    left: 23rem;
    line-height: 1.1725;
    color: #454343;
  }
  .sentiment--Dtm {
    line-height: 1.2125;
    color: #454343;
    font-family: Inter, 'Source Sans Pro';
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    width: 11.2rem;
    position: absolute;
    text-align: center;
    align-items: baseline;
    left: 25.65rem;
    top: 42.3rem;
    letter-spacing: 0.06rem;
    height: 2.5rem;
    font-size: 2rem;
    font-weight: 600;

    .sentiment--Dtm-sub-0 {
      letter-spacing: 0.06rem;
      text-transform: uppercase;
      color: #454343;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.1725;
    }
    .sentiment--Dtm-sub-1 {
    }
  }
  .positive-iyw {
    position: absolute;
    left: 49.25rem;
    top: 42.4rem;
    letter-spacing: 0.054rem;
    color: #454343;
    white-space: nowrap;
    width: 7rem;
    height: 2.2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
  }
  .neutral-d5K {
    color: #454343;
    text-align: center;
    white-space: nowrap;
    height: 2.2rem;
    top: 42.4rem;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    left: 76.65rem;
    font-size: 1.8rem;
    line-height: 1.1725;
    letter-spacing: 0.054rem;
    font-family: Roboto, 'Source Sans Pro';
    width: 6.4rem;
  }
  .negative-iMf {
    position: absolute;
    text-align: center;
    font-weight: 700;
    line-height: 1.1725;
    letter-spacing: 0.054rem;
    color: #454343;
    font-family: Roboto, 'Source Sans Pro';
    width: 7.7rem;
    left: 104.9rem;
    top: 42.4rem;
    font-size: 1.8rem;
    white-space: nowrap;
    height: 2.2rem;
  }
  .rectangle-14-p9o {
    top: 32.3rem;
    background-color: #efefef;
    width: 76.3rem;
    height: 6.3rem;
    position: absolute;
    left: 22.6rem;
  }
  .rectangle-15-9Sy {
    width: 19.1rem;
    height: 6.5rem;
    position: absolute;
    left: 98.9rem;
    top: 32.2rem;
    background-color: #b656d8;
  }
  .enter-your-url-HJH {
    height: 2.7rem;
    font-size: 2rem;
    white-space: nowrap;
    font-family: Roboto Mono, 'Source Sans Pro';
    width: 16.9rem;
    position: absolute;
    left: 26.2rem;
    top: 34.1rem;
    font-weight: 700;
    line-height: 1.3175;
    color: #837c7c;
  }
  .start-zTb {
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    width: 10.6rem;
    position: absolute;
    top: 33.2rem;
    line-height: 1.3175;
    font-family: Roboto Mono, 'Source Sans Pro';
    height: 4.7rem;
    left: 103.15rem;
    font-size: 3.5rem;
  }
  .ellipse-1-7HK {
    background-color: #29ce43;
    border-radius: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 47.3rem;
    top: 42.6rem;
  }
  .ellipse-2-2fB {
    top: 42.7rem;
    background-color: #e86a10;
    border-radius: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 74.7rem;
  }
  .ellipse-3-YNd {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 103.1rem;
    top: 42.7rem;
    background-color: #d60808;
    border-radius: 0.8rem;
  }
  .rectangle-16-fTF {
    height: 44.1rem;
    position: absolute;
    left: 86.4rem;
    top: 52.7rem;
    background-color: #fafafa;
    border-radius: 2.9rem;
    width: 39.4rem;
  }
  .ellipse-4-zkR {
    top: 61.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 26.8rem;
    height: 26.8rem;
    position: absolute;
    left: 92.7rem;
  }
  .ellipse-5-w9s {
    position: absolute;
    left: 91.552rem;
    top: 60.352rem;
    object-fit: contain;
    vertical-align: top;
    width: 29.0961rem;
    height: 29.0961rem;
  }
  .ellipse-6-sJR {
    height: 28.7879rem;
    position: absolute;
    left: 91.6rem;
    top: 60.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 28.7797rem;
  }
  .rectangle-17-cG1 {
    position: absolute;
    left: 108.3rem;
    top: 61.6rem;
    backdrop-filter: blur(2.5rem);
    background-color: rgba(234, 234, 234, 0.6999999881);
    border-radius: 1.5rem;
    width: 8.6rem;
    height: 4.7rem;
  }
  .rectangle-18-j5j {
    top: 82rem;
    backdrop-filter: blur(2.5rem);
    background-color: rgba(234, 234, 234, 0.6999999881);
    border-radius: 1.5rem;
    width: 8.6rem;
    height: 4.7rem;
    position: absolute;
    left: 110.5rem;
  }
  .rectangle-20-FZs {
    left: 92.6rem;
    top: 81rem;
    backdrop-filter: blur(2.5rem);
    background-color: rgba(234, 234, 234, 0.6999999881);
    border-radius: 1.5rem;
    width: 8.6rem;
    height: 4.7rem;
    position: absolute;
  }
  .item-67-mYD {
    width: 6rem;
    font-size: 3rem;
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
    left: 109.85rem;
    top: 62.3rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.1725;
    letter-spacing: 0.09rem;
    color: #29ce43;
    font-family: Roboto, 'Source Sans Pro';
  }
  .item-15-ftV {
    font-family: Roboto, 'Source Sans Pro';
    height: 3.6rem;
    position: absolute;
    left: 112.05rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
    color: #d91f1f;
    white-space: nowrap;
    width: 6rem;
    top: 82.7rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1.1725;
  }
  .item-18-aEm {
    color: #e86a10;
    white-space: nowrap;
    top: 81.7rem;
    text-align: center;
    line-height: 1.1725;
    left: 94.15rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
    font-family: Roboto, 'Source Sans Pro';
    width: 6rem;
    height: 3.6rem;
    position: absolute;
  }
  .total-score-g2u {
    font-family: Roboto, 'Source Sans Pro';
    width: 13rem;
    height: 2.9rem;
    position: absolute;
    top: 55.4rem;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.1725;
    left: 89.75rem;
    font-weight: 700;
    letter-spacing: 0.072rem;
    color: #454343;
    white-space: nowrap;
  }
  .rectangle-22-Ayf {
    border-radius: 2.9rem;
    width: 64.7rem;
    height: 44.1rem;
    position: absolute;
    left: 18.7rem;
    top: 52.7rem;
    background-color: #fafafa;
  }
  .comments-Vm3 {
    letter-spacing: 0.072rem;
    color: #454343;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 14rem;
    height: 2.9rem;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.1725;
    left: 22.55rem;
    top: 55.4rem;
    text-align: center;
  }
  .total-zho {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.1rem;
    height: 1.9rem;
    font-size: 1.6rem;
    letter-spacing: 0.048rem;
    color: #454343;
    line-height: 1.1725;
    position: absolute;
    left: 65.4rem;
    top: 58.8rem;
    text-align: center;
    font-weight: 700;
  }
  .comments-JiV {
    position: absolute;
    top: 60.3rem;
    line-height: 1.1725;
    color: #454343;
    font-family: Roboto, 'Source Sans Pro';
    width: 9.4rem;
    height: 1.9rem;
    left: 65.25rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.048rem;
    white-space: nowrap;
  }
  .item-336-1so {
    left: 58.65rem;
    top: 58.3rem;
    line-height: 1.2175;
    color: #454343;
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: Montserrat, 'Source Sans Pro';
    height: 4.3rem;
  }
}
