
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.results-oyK {
  box-sizing: border-box;
  padding-top: 4.9rem;
  background-position: center;
  backdrop-filter: blur(1rem);
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:27b454e69677e2d283c9494f3c311a0080cd0c87');
  background-color: #f9f9f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  align-items: center;

  .auto-group-aca5-jry {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 7.2rem 3.3rem 5.3rem;
    width: calc(100% - 12.5rem);
    height: 4.1rem;

    .auto-group-dfpm-3cm {
      box-sizing: border-box;
      padding-right: 3.75rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .sentiment-analysis-Bys {
        cursor: pointer;
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        margin: 0rem 19.1rem 1rem 0rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .signup-GEd {
        font-weight: 700;
        color: #3d3939;
        flex-shrink: 0;
        margin-right: 4.45rem;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 0 0.8rem;
        height: 3.5rem;
      }
      .signup-Aau {
        text-align: center;
        font-weight: 700;
        line-height: 1.2175;
        letter-spacing: 0.06rem;
        color: #3c3939;
        font-family: Montserrat, 'Source Sans Pro';
        height: 3.5rem;
        cursor: pointer;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
    .signup-Ubb {
      flex-shrink: 0;
      margin-right: 30.7rem;
      width: 12.5rem;
      height: 100%;
      cursor: pointer;
      position: relative;
      border-radius: 1.5rem;

      .rectangle-3-dUV {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #b656d8;
        border-radius: 1.5rem;
        width: 12.5rem;
        height: 3.5rem;
      }
      .results-m4u {
        line-height: 1.2175;
        font-weight: 700;
        letter-spacing: 0.06rem;
        text-transform: uppercase;
        color: #fefefe;
        width: 9.8rem;
        height: 2.5rem;
        left: 1.35rem;
        top: 0.6rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-size: 2rem;
        text-align: center;
      }
    }
    .signup-FVs {
      height: calc(100% - 0.3rem);
      cursor: pointer;
      position: relative;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin: 0.1rem 0rem 0.2rem 0rem;
      width: 11.5rem;

      .rectangle-3-aY9 {
        width: 11.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #b656d8;
        border-radius: 1.5rem;
      }
      .signout-8Jm {
        left: 1.5rem;
        top: 0.3rem;
        font-family: Roboto Mono, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.5rem;
        height: 2.7rem;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3175;
        color: #ffffff;
      }
    }
  }
  .auto-group-4hqj-qU5 {
    flex-direction: column;
    background-color: #fcfcfc;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .group-2-Zus {
      align-items: center;
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 13.35rem 3.2rem 2.85rem;
      width: 100%;
      display: flex;

      .no-J6m {
        margin-right: 10rem;
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .platform-d93 {
        margin-right: 14.5rem;
        line-height: 1.2175;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .positive-Z2h {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 16.7rem;
        flex-shrink: 0;
      }
      .negative-VBF {
        text-align: center;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 17.4rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .neutral-RKo {
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
      }
    }
    .group-3-MjF {
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 17.95rem 3.2rem 4.75rem;
      width: 100%;
      display: flex;
      align-items: center;

      .item-1-tUH {
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 11.2rem;
        text-align: center;
        font-size: 3rem;
      }
      .instagram-RDK {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.95rem;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2175;
        font-weight: 700;
        color: #3d3939;
      }
      .item-67-Lr5 {
        font-size: 3rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 26.05rem;
        text-align: center;
        white-space: nowrap;
        font-weight: 700;
        color: #3d3939;
      }
      .item-15-ftM {
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 27.2rem;
        line-height: 1.2175;
        flex-shrink: 0;
        text-align: center;
      }
      .item-18-D9B {
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
      }
    }
    .group-4-9oX {
      box-sizing: border-box;
      padding: 3.3rem 17.45rem 3.2rem 4.45rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;
      flex-shrink: 0;

      .item-2-sUd {
        margin-right: 11.45rem;
        font-size: 3rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
      }
      .facebook-Cmo {
        margin-right: 18.6rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-22-Xp5 {
        margin-right: 26.05rem;
        font-weight: 700;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2175;
        color: #3d3939;
        flex-shrink: 0;
      }
      .item-18-UDX {
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 26.6rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .item-40-Qcy {
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
      }
    }
    .group-5-j9T {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 17.6rem 3.2rem 4.45rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;

      .item-3-fJ1 {
        margin-right: 13.3rem;
        font-size: 3rem;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 700;
        line-height: 1.2175;
        flex-shrink: 0;
      }
      .twitter-Pzh {
        line-height: 1.2175;
        color: #3d3939;
        margin-right: 19.95rem;
        font-size: 3rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
      }
      .item-67-jHs {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2175;
        color: #3d3939;
        white-space: nowrap;
        margin-right: 25.8rem;
        font-weight: 700;
      }
      .item-3-4b3 {
        font-size: 3rem;
        line-height: 1.2175;
        color: #3d3939;
        flex-shrink: 0;
        margin-right: 27rem;
        font-weight: 700;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .item-30-zDo {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .group-6-vt9 {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 17.9rem 3.2rem 4.3rem;

      .item-4-fKw {
        text-align: center;
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.15rem;
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .twitter-bUV {
        margin-right: 20.65rem;
        text-align: center;
        font-size: 3rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        flex-shrink: 0;
      }
      .item-80-wHT {
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        margin-right: 26.2rem;
      }
      .item-10-gF3 {
        margin-right: 27rem;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .item-10-RCd {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
      }
    }
    .group-7-m1b {
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 17.95rem 3.2rem 4.45rem;
      width: 100%;
      display: flex;
      align-items: center;

      .item-5-tc1 {
        text-align: center;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        flex-shrink: 0;
        margin-right: 12.7rem;
        font-size: 3rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .linkedin-DeH {
        white-space: nowrap;
        margin-right: 20.15rem;
        font-weight: 700;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        text-align: center;
        font-size: 3rem;
        color: #3d3939;
        flex-shrink: 0;
      }
      .item-30-YwT {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 700;
        color: #3d3939;
        white-space: nowrap;
        margin-right: 26.1rem;
        text-align: center;
        line-height: 1.2175;
      }
      .item-22-6CH {
        margin-right: 26.85rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .item-18-RVT {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .group-8-Zbf {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 18.05rem 3.2rem 4.35rem;

      .item-6-HnZ {
        color: #3d3939;
        flex-shrink: 0;
        white-space: nowrap;
        margin-right: 11.35rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .facebook-pGh {
        font-size: 3rem;
        line-height: 1.2175;
        flex-shrink: 0;
        margin-right: 18.9rem;
        font-weight: 700;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .item-70-Kz9 {
        text-align: center;
        font-weight: 700;
        color: #3d3939;
        flex-shrink: 0;
        margin-right: 26.45rem;
        font-size: 3rem;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-15-rz5 {
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 27.3rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        white-space: nowrap;
      }
      .item-15-Pz1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .group-9-Y6D {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 18rem 3.2rem 4.4rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;

      .item-7-sPP {
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2175;
        margin-right: 10.85rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .instagram-QeD {
        margin-right: 18.35rem;
        font-weight: 700;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-70-jgV {
        margin-right: 26.35rem;
        text-align: center;
        white-space: nowrap;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .item-18-sGu {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        flex-shrink: 0;
        margin-right: 27.15rem;
        line-height: 1.2175;
        color: #3d3939;
      }
      .item-12-Ca5 {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .group-10-LwB {
      width: 100%;
      height: 10.2rem;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 17.2rem 3.2rem 4.35rem;

      .item-8-U1o {
        margin-right: 10.8rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        color: #3d3939;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
      }
      .instagram-oZs {
        color: #3d3939;
        flex-shrink: 0;
        margin-right: 18.7rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .item-18-wRB {
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 26.8rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2175;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-15-fry {
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 700;
        text-align: center;
        font-size: 3rem;
        white-space: nowrap;
        margin-right: 26.45rem;
      }
      .item-67-QpZ {
        line-height: 1.2175;
        color: #3d3939;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
      }
    }
  }
}
