
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sigin-page-4oB {
  box-sizing: border-box;
  padding: 4.6rem 7.2rem 4.6rem 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/world-1-bg-3Pw.png');
  backdrop-filter: blur(1rem);
  background-color: #f9f9f9;
}
.sigin-page-4oB .sentiment-analysis-aWd a{
  text-decoration: none;
  color: #000000;
}
.sigin-page-4oB .sentiment-analysis-aWd {
  margin: 0.3rem 4.5rem 0rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2175;
  letter-spacing: 0.15rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 {
  margin: 23.4rem 19rem 0rem 0rem;
  box-sizing: border-box;
  padding: 2.1rem 4.3rem 2.8rem 4.3rem;
  width: 68.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.200000003);
  border-radius: 4.4rem;
  flex-shrink: 0;
}

.sigin-page-4oB .auto-group-h2lq-fY5 .signin-MQu {
  margin: 0rem 43.9rem 1.4rem 0rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3175;
  letter-spacing: -0.045rem;
  color: #b656d8;
  font-family: Roboto Mono, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .username-TTw {
  margin-right: 33.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.025rem;
  color: #635967;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-jed7-Zms {
  margin: 0rem 5.9rem 1.3rem 5.9rem;
  box-sizing: border-box;
  padding: 2.4rem 3.2rem 2.3rem 4.1rem;
  width: calc(100% - 11.8rem);
  display: flex;
  align-items: center;
  background-color: rgba(103, 99, 104, 0.3000000119);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-jed7-Zms .enter-your-username-4id {
  margin-right: 14.4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.025rem;
  color: rgba(99, 89, 103, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-jed7-Zms .mdi-user-NjK {
  margin-top: 0.5rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .password-UnM {
  margin-right: 33.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: -0.025rem;
  color: #635967;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-lnz7-Qg1 {
  margin: 0rem 5.9rem 1.2rem 5.9rem;
  box-sizing: border-box;
  padding: 2.4rem 2.936rem 2.259rem 4.2rem;
  width: calc(100% - 11.8rem);
  display: flex;
  align-items: center;
  background-color: rgba(103, 99, 104, 0.3000000119);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-lnz7-Qg1 .enter-your-password-usf {
  margin: 0rem 14.139rem 0.041rem 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.025rem;
  color: rgba(99, 89, 103, 0.75);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-lnz7-Qg1 .mdi-password-off-pUq {
  margin-top: 0.425rem;
  width: 2.625rem;
  height: 2.7162rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-sjxz-Juo {
  margin: 0rem 6.55rem 2.4rem 6.4rem;
  width: calc(100% - 12.95rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-sjxz-Juo .dont-have-an-account-2qo {
  margin-right: 17.85rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.015rem;
  color: #635967;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-sjxz-Juo .forgot-password-wSy {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.015rem;
  color: #635967;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigin-page-4oB .auto-group-h2lq-fY5 .auto-group-54b3-fNy {
  margin: 0rem 20.3rem 0rem 20.2rem;
  width: calc(100% - 40.5rem);
  height: 5.4rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Mono, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b656d8;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sigin-page-4oB .signup-GtZ {
  width: 11.5rem;
  height: 3.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.sigin-page-4oB .signup-GtZ .rectangle-3-cxR {
  width: 11.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b656d8;
  border-radius: 1.5rem;
}
.sigin-page-4oB .signup-GtZ .signup-9hT a{
  text-decoration: none;
  color: #ffffff;
}
.sigin-page-4oB .signup-GtZ .signup-9hT {
  width: 7.3rem;
  height: 2.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Mono, 'Source Sans Pro';
  white-space: nowrap;
}
